dist
node_modules
src/aws-exports.js
react-native.config.js
metro.config.js
jest.config.js
babel.config.js
index.js
src/graphql/mutations.ts
src/graphql/queries.ts
src/graphql/subscriptions.ts
src/types/index.d.ts
src/models/index.d.ts
src/models/schema.d.ts
coverage
rn-config.js
vendor
